body{
	background-color: #2b2b2b;
}
.display-3{

	color:#FFFFFF;
	font-family: 'Yantramanav', sans-serif;
	font-weight: 500;
	font-size:6vw;
	
}

.lead{
	font-weight: 300;
	font-family: 'Yantramanav', sans-serif;
	color:#FFFFFF;
}

.jumbotron{
	/* background: linear-gradient(#333A42,#2b2b2b); */
	background-image:url("teamPhoto.png");
	width:100%;
	height:40vw;
	background-size:100%;
	background-repeat: no-repeat;
	margin-bottom:0px;
}
h3{
	text-align: center;
	color:#FFFFFF;
}
.green{
	background-color:rgb(0, 141, 78);
}
.yellow{
	color:rgb(251,226,0);
}

a{
	color:rgb(0, 141, 78)

}
a:hover{
	color:rgb(251,226,0);


}
.slideRight{
	transition: padding-left 1s ease;
	padding-left:0vw;
}
.slideRight:hover{
	padding-left:3vw;
}
.video{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}
.videoWrapper{
	width:100%;
	position:relative;
	padding-top:56.25%;
	color:red;
}
#gradientGreen{
	height:50px;
	background:linear-gradient(#2b2b2b,#42ff9d);
}
.light{
	color:#f3f3f3;
}
#gradientWhite{
	height:40px;
	background:linear-gradient(#42ff9d,#FFFFFF)
}

.dark{
	color:#2b2b2b;
}
.white{
	background:#ffffff;
	padding-bottom:30px;
	
}
#teamLogo{
	margin-left:4vw;
	width:70%;	
}
.header{
	margin-top:-30px;
}

.dropdown-item:hover{
	background:rgb(0, 141, 78);
}

.gallery{
	max-height:500px;
	background-image:url("photo1.png");
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	opacity: 0;
}
#elsie{
	margin-top: 1vw;
	width:100%;
}

.lightbg{
	background-color:#ffffff;
}
.logo{
	max-width:30vh;
}
h1{
	font-size:6vw
}
.darkbg{
	background-color:#2b2b2b;
}

.button{
	width:100%;
	opacity:1;
	height:10vh;
	margin-top:0px;
	transition: background-color .5s ease-in-out,
	height .2s ease-in-out,
	width .2s ease-in-out;
	border: 2px solid rgb(0, 141, 78);
	background-color:rgba(0, 141, 78,0)
	
}
.button:hover{
	background-color:rgba(0, 141, 78,0.5);
	height:11vh;
	width:105%;
}
.lower{
	padding-top:20vh;
}
.noChange{
	color:#ffffff;
}
.noChange:hover{
	color:#ffffff;
}
.centered{
	text-align: CENTER;
}

iframe{
	width:100%;
	height:40vh;
}
.top{
	margin-top:1vh;
}
.scaleLink{
	padding-top:0vh;
	padding-bottom:0vh;
	transition: padding-top .2s ease-in-out,
	padding-bottom .2s ease-in-out;
}

.scaleLink:hover{
	padding-top:1vh;
	padding-bottom:1vh;
}

.imageScale{
	width:90%;
	transition: width .5s ease-in-out;
}
.imageScale:hover{
	width:95%
}
.top{
	margin-top:20px;
}
.pic{
	max-height:50%;
	height:40vh;
}
.center{
	text-align: center;
}

.colorbg{
	background-image:url("bgimage.png");
	background-repeat: no-repeat;
	background-size:100%;
	height:100%;
	
}
.parallax{
	background-image: url("robotside.png");
	background-position: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

}

.top{
	height:3vh;

}